.h1-container {  
    background: black; 
    color: white; 
    font-size: 13px; 
    opacity: 0.8;   
    display: flex; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;  
}
h1 {  
    margin-left: 45px;
}

nav {  
    display: flex; 
    justify-content: center;
}
nav ul { 
    margin-top: 0; 
}
nav li { 
    list-style: none; 
    display: inline-block;  
    background-color: #ccc; 
    padding: 7px; 
}
li a { 
    color: white; 
    font-weight: bold; 
    text-decoration: none; 
}
.alert-msg { 
    background-color: rgb(142, 252, 213); 
    margin-left: 92px; 
    margin-right: 92px; 
    padding: 1px; 
    padding-left: 15px; 
    padding-right: 0; 
    font-weight: bold; 
    font-size: 20px; 
}

.yellow-line { 
    border-bottom: 2px solid yellow; 
}
img { 
    width: 400px; 
    height: 400px;
    padding: 10px; 
    padding-bottom: 0; 
}
.image-container {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}
.yellow { 
    background: rgb(242, 208, 12); 
    width: 400px;  
    text-align: center; 
    margin: 0 auto;
    margin-bottom: 10px; 
    padding: 10px 0; 
}
p a { 
    padding: 6px; 
}
footer { 
    background: black; 
    color: white; 
    padding: 4px 0; 
    text-align: center; 
    font-size: 13px; 
}