.h1-container {  
    background: black; 
    color: white; 
    font-size: 13px; 
    opacity: 0.8;   
    display: flex; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;  
}
h1 {  
    margin-left: 45px;
}

nav {  
    display: flex; 
    justify-content: center;

}
nav ul { 
    margin-top: 0; 
}
nav li { 
    list-style: none; 
    display: inline-block;  
    background-color: #ccc; 
    padding: 7px; 
    
    
}
li a { 
    color: white; 
    font-weight: bold; 
    text-decoration: none; 
}
.alert-msg { 
    background-color: rgb(142, 252, 213); 
    width: 90%; 
    margin-left: 30px; 
    margin-right: 10px; 
    padding: 15px; 
    padding-right: 0; 
    font-weight: bold; 
}
.yellow-line { 
    border-bottom: 2px solid yellow; 
}
img { 
    width: 140%; 
    height: 100%;
}
#firstImage { 
    width: 160%; 
}
.image-container { 
    display: flex; 
    justify-content: center; 
    width: 90%; 
}
.image { 
    display: block;
    padding: 40px; 
}
.yellow { 
    background: rgb(242, 208, 12); 
    width: 100%; 
    padding: 0 30px; 
    text-align: center; 
    margin: 0 auto;
}
footer { 
    background: black; 
    color: white; 
    padding: 4px 0; 
    text-align: center; 
    font-size: 13px; 
}


